<html>
	<head>
		<title>Hotel Juliette - <%= title %></title>

		<% include ./partials/meta.ejs %>

		<link rel="stylesheet" href="assets/css/style.css?v=<%= Date.now() %>" />
		<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
	</head>

	<body>
		<% include partials/navbar.ejs %>

		<section class="rezervari">
			<div class="title-text">
				Rezervări - Hotel Juliette
			</div>

			<div class="rooms">
				<% rooms.forEach((room, index) => { %>

				<div class="room">
					<img src="../assets/img/<%= room.MainImage %>.jpg" />
					<div class="room_type">Camera <%= room.Type %></div>
					<div class="room-info">
						<p>Pret pe noapte: <%= room.Price %> RON</p>
						<p>Paturi: <%= room.Beds %></p>
						<p>Băi: <%= room.Bai %></p>
					</div>
					<a href="/camera/<%= room.ID %>" class="button" id="button-3">
						<div id="circle"></div>
						<p>Afla mai multe</p>
					</a>
					<a href="/rezervare/<%= room.ID %>" class="button" id="button-3">
						<div id="circle"></div>
						<p>Rezervare</p>
					</a>
				</div>
				<% }); %>
			</div>
		</section>

		<% include partials/footer.ejs %>
	</body>
</html>
